<h1>Lista pomysłów</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Opis dlaczego</th>
      <th>Kategoria</th>
      <th>Obrazek</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %> </td>
        <td><%= idea.category.name if idea.category.present? %> </td>
        <td><%= image_tag(idea.picture_url, :width => 50) if idea.picture.present? %> </td> 
        <td><%= link_to 'Pokaż', idea %></td>
        <td><%= link_to 'Edytuj', edit_idea_path(idea) %></td>
        <td><%= link_to 'Usuń', idea, method: :delete, data: { confirm: 'Napewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy pomysł', new_idea_path %>
